<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
  <ul class="w3-navbar w3-theme-d6 w3-left-align w3-large">
    <li><a href="index.html" class="w3-padding-large w3-theme-d6">Apalapucia</a></li>
  </ul>
</div>

<!-- Page Container -->
<div class="w3-container w3-content " style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
          <button type="button" class="btn btn-default" style="margin-left: 89%;margin-top: 5px">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
          <h4 class="w3-center">Profile Adı</h4>
          <p class="w3-center"><img src="/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Resim"></p>
          <hr>
          <p><i class="fa fa-fw w3-margin-right w3-text-theme"></i> Adı Soyadı</p>
          <p><i class="fa fa-fw w3-margin-right w3-text-theme"></i> Firma</p>
        </div>
      </div>
      <br>
      <!-- Interests -->
      <div class="w3-card-2 w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Çalışanın Yetenekleri</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d3">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          </p>
        </div>
      </div>
      <br>

      <!-- Alert Box -->
      <div class="w3-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-hover-text-grey w3-closebtn">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div>

      <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m6">
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
              <!--<h6 class="w3-opacity">Vermiş olduğun iş ilanlarını ara</h6>-->
              <input  class="w3-border w3-padding" style="width: 90%" />
              <button type="button" class="w3-btn w3-theme-d6" style="height: 38px;margin-top: -2px">Ara</button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="w3-btn w3-theme-d6" style="height: 38px;margin-top: 2%;margin-left: 16px">İlan ekle</button>
      <!-- İlan 1 -->
      <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
        <span class="w3-left w3-opacity-min"> İlan 1</span>
        <span class="w3-right w3-opacity">1 min</span>
        <span class="w3-opacity" style="margin-left: 70%;width: 10px">Başvuru Sayısı:</span>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="w3-container">
          <a href="#demo" class="" data-toggle="collapse" style="margin-left:48%"><i class="glyphicon glyphicon-menu-down"></i></a>
          <div id="demo" class="collapse">
            <p> Aranan Yetenekler</p>
            <p>
              <span class="w3-tag w3-small w3-theme-d5">News</span>
              <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
              <span class="w3-tag w3-small w3-theme-d3">Labels</span>
              <span class="w3-tag w3-small w3-theme-d3">Games</span>
              <span class="w3-tag w3-small w3-theme-d1">Friends</span>
              <span class="w3-tag w3-small w3-theme">Games</span>
              <span class="w3-tag w3-small w3-theme-l1">Friends</span>
              <span class="w3-tag w3-small w3-theme-l2">Food</span>
              <span class="w3-tag w3-small w3-theme-l3">Design</span>
              <span class="w3-tag w3-small w3-theme-l4">Art</span>
              <span class="w3-tag w3-small w3-theme-l5">Photos</span>
            </p>
            <div id="butonlar">
              <button type="button" class="w3-btn  w3-theme-d2 w3-margin-bottom" style="margin-left: 62%">Sil</button>
              <button type="button" class="w3-btn  w3-theme-d7 w3-margin-bottom" style="">Düzenle</button>
              <button type="button" class="w3-btn  w3-theme-d6 w3-margin-bottom" style="">Detay</button>
            </div>
          </div>
        </div>
      </div>
      <!-- İlan 2 -->
      <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
        <span class="w3-left w3-opacity-min"> İlan 2</span>
        <span class="w3-right w3-opacity">1 min</span>
        <span class="w3-opacity" style="margin-left: 70%;width: 10px">Başvuru Sayısı:</span>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="w3-container">
          <a href="#demo2" class="" data-toggle="collapse" style="margin-left:48%"><i class="glyphicon glyphicon-menu-down"></i></a>
          <div id="demo2" class="collapse">
            <p> Aranan Yetenekler</p>
            <p>
              <span class="w3-tag w3-small w3-theme-d5">News</span>
              <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
              <span class="w3-tag w3-small w3-theme-d3">Labels</span>
              <span class="w3-tag w3-small w3-theme-d3">Games</span>
              <span class="w3-tag w3-small w3-theme-d1">Friends</span>
              <span class="w3-tag w3-small w3-theme">Games</span>
              <span class="w3-tag w3-small w3-theme-l1">Friends</span>
              <span class="w3-tag w3-small w3-theme-l2">Food</span>
              <span class="w3-tag w3-small w3-theme-l3">Design</span>
              <span class="w3-tag w3-small w3-theme-l4">Art</span>
              <span class="w3-tag w3-small w3-theme-l5">Photos</span>
            </p>
            <div id="butonlar2">
              <button type="button" class="w3-btn  w3-theme-d2 w3-margin-bottom" style="margin-left: 62%">Sil</button>
              <button type="button" class="w3-btn  w3-theme-d7 w3-margin-bottom" style="">Düzenle</button>
              <button type="button" class="w3-btn  w3-theme-d6 w3-margin-bottom" style="">Detay</button>
            </div>
          </div>
        </div>
      </div>
      <!-- İlan 3 -->
      <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
        <span class="w3-left w3-opacity-min"> İlan 3</span>
        <span class="w3-right w3-opacity">1 min</span>
        <span class="w3-opacity" style="margin-left: 70%;width: 10px">Başvuru Sayısı:</span>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="w3-container">
          <a href="#demo3" class="" data-toggle="collapse" style="margin-left:48%"><i class="glyphicon glyphicon-menu-down"></i></a>
          <div id="demo3" class="collapse">
            <p> Aranan Yetenekler</p>
            <p>
              <span class="w3-tag w3-small w3-theme-d5">News</span>
              <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
              <span class="w3-tag w3-small w3-theme-d3">Labels</span>
              <span class="w3-tag w3-small w3-theme-d3">Games</span>
              <span class="w3-tag w3-small w3-theme-d1">Friends</span>
              <span class="w3-tag w3-small w3-theme">Games</span>
              <span class="w3-tag w3-small w3-theme-l1">Friends</span>
              <span class="w3-tag w3-small w3-theme-l2">Food</span>
              <span class="w3-tag w3-small w3-theme-l3">Design</span>
              <span class="w3-tag w3-small w3-theme-l4">Art</span>
              <span class="w3-tag w3-small w3-theme-l5">Photos</span>
            </p>
            <div id="butonlar3">
              <button type="button" class="w3-btn  w3-theme-d2 w3-margin-bottom" style="margin-left: 62%">Sil</button>
              <button type="button" class="w3-btn  w3-theme-d7 w3-margin-bottom" style="">Düzenle</button>
              <button type="button" class="w3-btn  w3-theme-d6 w3-margin-bottom" style="">Detay</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Middle Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-col m3">
      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <p><strong>Firma</strong></p>
          <p>Firmanın bilmem nesi</p><br>
          <br><br><br>
          <p><button class="w3-btn w3-btn-block  w3-theme-d6">Firma Detay</button></p>
        </div>
      </div>
      <br>
      <div class="w3-card-2 w3-round w3-white w3-padding-16 w3-center">
        <p>ADS</p><br><br>
      </div>
      <br>
      <div class="w3-card-2 w3-round w3-white w3-padding-16 w3-center">
        <p>ADS</p><br><br>
      </div>
      <!-- End Right Column -->
    </div>

    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
<br>

</body>
