<h1>Editing Appointment</h1>

<%= render 'form', appointment: @appointment %>

<%= link_to 'Göster', @appointment,{style:"color:black"} %> |
<%= link_to 'Geri', appointments_path,{style:"color:black"}  %>
