<h1>New Appointment</h1>

<% if @a %>
<%= render 'form', appointment: @appointment %>
<% else %>
<p class="M">
    This announcament has full appointment
</p>
<%= link_to 'Back', :back, class:"M button" %>
<% end %>
<style media="screen">
    .button {
        background-color: #7c8c7c;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .M {
        margin: 30px;
    }
</style>
